#login{
	width: 600px;
	padding: 0;
	margin: 0;
	float: left;
}
#register{
	width: 200px;
	padding: 0;
	margin: 0;
	float: left;
}
fieldset{
	border: 0;
}
p{
	margin: 0;
	padding: 0;
}
.textsize{
	margin: 10px;
	font-size: 18px;
	color: #FF3333;
}
h2{
	font-size: 20px;
	margin: 0;
}
.border{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	overflow: hidden;
	float: left;
}
.bordertwo{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	overflow: hidden;
}
.uploadborder{
	border: 1px solid black;
}
.pictures{
	width: 400px;
}

