#container{
	width: 980px;
}
#login{
	width: 600px;
	padding: 0;
	margin: 0;
	float: left;
}
#register{
	width: 200px;
	padding: 0;
	margin: 0;
	float: left;
}
fieldset{
	border: 0;
}
p{
	margin: 0;
	padding: 0;
}
.textsize{
	margin: 10px;
	font-size: 18px;
	color: #FF3333;
}
h2{
	font-size: 20px;
	margin: 0;
}

.border{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	overflow: hidden;
	float: left;
}
.bordertwo{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	overflow: hidden;
}
.uploadborder{
	border: 1px solid black;
}
.blogpost{
	border: 1px solid black;
	margin-top: 5px;
	margin-bottom: 5px;
	position: relative;
}
.pictures{
	width: 200px;
}
.removePost{
	float: left;
	position: absolute;
	bottom: 0;
	left: 0;
}
.hidden{
	visibility: hidden;
	font-size: 1px;
}
.comment {
min-height: 60px;
overflow-y: auto;
word-wrap:break-word
}
